/* --- global.css --- */
/* --- Created by Mason Guinn --- */
/* --- Color & Animation Variables --- */
.inline-title {
    text-align: center;
    border-radius: 15px;
    padding: 0;
    margin: 30px 0 50px 0;
    --inline-title-weight: 300;
    --inline-title-size: 3em;
    --inline-title-color: #5865F2;
}

/*
Hide empty properties in Base card view
*/

.bases-cards-property:has(.bases-cards-line.bases-rendered-value:empty),
.bases-cards-label {
    display: none;
}

/*
Override plugin NoteToolbar from not detecting the RemixIcon Icon Pack in Iconize Plugin
Specifically, I want to insert a RemixIcon into the NoteToolbar Menu on the Homepage named "Search Web"

Target the specific menu item icon by ID and hide the original SVG */
#\33 daccf87-44ba-4e19-a1d7-12a50565ee3e > div.menu-item-icon > svg {
    display: none !important;
}

/* Inject the new Google icon into the container */
#\33 daccf87-44ba-4e19-a1d7-12a50565ee3e > div.menu-item-icon::before {
    content: "";
    display: inline-block;
    width: 18px; /* Adjust size to match your toolbar */
    height: 18px;
    background-color: currentColor; /* Matches the text color of your theme */
    
    /* The Google SVG encoded as a data URI */
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 11H20.5329C20.5769 11.3847 20.6 11.7792 20.6 12.1837C20.6 14.9184 19.6204 17.2204 17.9224 18.7837C16.4367 20.1551 14.404 20.9592 11.9796 20.9592C8.46933 20.9592 5.43266 18.947 3.9551 16.0123C3.34695 14.8 3 13.4286 3 11.9796C3 10.5306 3.34695 9.1592 3.9551 7.94698C5.43266 5.01226 8.46933 3 11.9796 3C14.4 3 16.4326 3.88983 17.9877 5.33878L16.5255 6.80101C15.3682 5.68153 13.8028 5 12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19C15.5265 19 18.1443 16.3923 18.577 13H12V11Z"></path></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 11H20.5329C20.5769 11.3847 20.6 11.7792 20.6 12.1837C20.6 14.9184 19.6204 17.2204 17.9224 18.7837C16.4367 20.1551 14.404 20.9592 11.9796 20.9592C8.46933 20.9592 5.43266 18.947 3.9551 16.0123C3.34695 14.8 3 13.4286 3 11.9796C3 10.5306 3.34695 9.1592 3.9551 7.94698C5.43266 5.01226 8.46933 3 11.9796 3C14.4 3 16.4326 3.88983 17.9877 5.33878L16.5255 6.80101C15.3682 5.68153 13.8028 5 12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19C15.5265 19 18.1443 16.3923 18.577 13H12V11Z"></path></svg>');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
